@use "../helpers/mixins" as *;
@use "../helpers/varibels" as *;
@use "../layout/grid" as *;

.main-title {
  margin: 20px;
  width: 500px;
  font-size: 40px;
  position: relative;
  @include mobile {
    width: 350px;
    font-size: 37px;
    margin: 0;
  }
  h3 {
    font-weight: 700;
    color: $dark2-color;
  }
  span {
    position: relative;
    color: $blue-color;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 3px;
      @include grediant-from;
      bottom: 13px;
      right: 150px;
      border-radius: 15px;
    }
  }
}
