// colors varibles >>
$green-color: #99e9a5;
$violet-color: #9066fb;
$black-color: #000;
$white-color: #fff;
$defult-color: #575d6b;
$gray-color: #eeedef;
$dark-color: #0f1928;
$dark2-color: #1f2123;
$blue-color: #007aff;
